body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.Exit {
    background-color: red;
    border-radius: 0px 20px 20px 0px;
    margin: 5px;
    width: 50px;
    height: 75px;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1, h3 {
    text-align: center;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: green;
    border-radius: 20px;
    width: 100px;
    height: 325px;
    text-align: center;
}
