body {
            background-color: gray;
            font: Aarial;
            color: white;
}

.Exit {
            background-color: red;
            border-radius: 0px 20px 0px 20px;
            margin: 5px;
}

h1 {
            text-align: center;
}

h3 {
            text-align: center;
}

.first {
            text-align: center;
            background-color: green;
            border-radius: 20px 20px 20px 20px;
}
